body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url("whi.jpg");
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    text-align: center;
}

input[type="text"],
input[type="checkbox"] {
    margin-bottom: 10px;
    padding: 8px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(0, 128, 255); /* Green */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn input[type="submit"] {
    background-color: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049; /* Darker Green */
}
