/* register.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa; /* Set your desired background color */
}

.container {
    margin-top: 50px;
}

.navbar {
    background-color: #28a745; /* Set your desired navbar background color */
}

.navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #218838; /* Set your desired hover background color */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.lbl {
    display: block;
    margin-bottom: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.btn {
    background-color: #28a745; /* Set your desired button background color */
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    background-color: #218838; /* Set your desired button hover background color */
}
