<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin_Home</title>
<link rel="stylesheet" th:href="@{/css/admin.css}">

<body>
	<h1>Admin_Home</h1>
	<br>
	<button>
		<a href="newSong">Add Songs</a>
	</button>
	<br><br>
	<button>
		<a href="viewSong">View Songs</a>
	</button>
	<br><br>
	<button>
		<a href="createPlaylist">Create Playlist</a>
	</button>
	<br><br>
	<button>
		<a href="viewPlaylist">Display Playlist</a>
	</button>
	<br><br>
	<button>
		<a href="">LogOut</a>
	</button>
</body>
</html>