<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>NewSong</title>
<link rel="stylesheet" th:href="@{/css/newsong.css}">
</head>
<body>
<div class="container">
<form action="addSong" method="post">
<label class="lbl">Song Name:</label>
<input type="text" name="name">
<br>
<br>
<label class="lbl">Song Artist:</label>
<input type="text" name="artist">
<br><br>
<label class="lbl">Song Genre:</label>
<input type="text" name="genre">
<br><br>
<label class="lbl">Song Link:</label>
<input type="text" name="link">
<br><br>

<input type="submit" name="ADD SONG">
<br>
</form>
</div>
</body>
</html>